.container{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  width:20%;
  grid-gap:2px;
}

.Roll{
  display:grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 100px 100px;
  grid-column-gap:2px;
}
